.container {
    max-width: 1000px;
    width: 90vw;
    margin: 0 auto;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 8px; 
    object-fit: cover;

    @media screen and (max-width: 450px) {
    height: 30rem;
    object-fit: cover;
}
}